.container {
  max-width: 1440px;
  height: 70vh;

  margin: 0 auto;
  padding: 36px 16px;

  //como o spiderman deixamos grande, ele criou uma barra de rolagem em baixo, para resolver isso, utilizamos o overflow no container pai, para que tudo que esteja saindo dele, seja escondido, assim as partes do spider man que estavam estrapolando a div foram meio que 'cortadas' para caber na tela e tirar a barra de rolagem. Top!
  overflow: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  @include responsive() {
    height: auto;
    flex-direction: column-reverse;
    overflow: hidden;
  }
}

.container-item-1 {
  max-width: 576px;

  display: flex;
  //quando definimos o flex-direction em um elemento, o align items e o justify content ficam invertidos, então para ajustar horizontalmente em vez de justify content, usamos o align items com flex start, para grudar no começo do elemento pai
  flex-direction: column;
  align-items: flex-start;
}

.flex {
  display: flex;
}

.w-auto {
  width: auto;
}

.align-center {
  align-items: center;
}

.spiderman {
  width: 120%;
  transform: translate3d(-150px, -50px, 0);

  @include responsive() {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.btn {
  //todos links por padrão vem como inline, no caso definindo ele como inline block, ele vira uma 'caixa' e podemos estilizar ele mais tranquilmamente
  display: inline-block;

  padding: 12px 32px;

  border-radius: 3px;
  transform: skewX(-10deg);
  text-transform: uppercase;

  background: linear-gradient(267.72deg, #f02a2f 0.88%, #ea1d22 100%);
  position: relative;

  transition: 0.5s ease-in-out;

  &::after,
  &::before {
    content: "";
    display: block;

    width: 20%;
    height: 70%;
    border-radius: 3px;

    transition: 0.5s ease-in-out;
    opacity: 0;

    position: absolute;
  }

  &::after {
    top: -2px;
    left: -2px;

    border-top: 3px solid $white;
    border-left: 3px solid $white;
  }

  &::before {
    bottom: -2px;
    right: -2px;

    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
  }

  &:hover {
    transform: skewX(-10deg) scale(1.05);
    &::after,
    &::before {
      opacity: 1;
    }
  }
}

.btn-secondary {
  display: inline-block;

  padding: 10px 32px;
  border-radius: 3px;
  transform: skewX(-10deg);

  text-transform: uppercase;

  border: 2px solid $red-light;
  background: transparent;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -1px;
    width: 0%;
    height: 102%;

    background: linear-gradient(267.72deg, #f02a2f 0.88%, #ea1d22 100%);

    z-index: -1;

    transition: 0.5s ease-in-out;
  }

  &:hover {
    &::after {
      width: 101%;
    }
  }

  @include responsive() {
    display: none;
  }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
  overflow: hidden;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background: linear-gradient(
      90deg,
      #0b0c10 24.48%,
      rgba(11, 12, 16, 0.8) 54.09%,
      #0c0c10 77.6%
    );
  }
}

.bg-loader {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(225deg, $red 0%, $red-dark 100%);

  overflow: hidden;
}
